.filter{    
    .dropdown-toggle{
        background-color: transparent !important;
        color: $secondtextcolor;
        transition: all .3s ease-in-out;
        border: none !important;
        border-radius: 0 !important ;
        &:hover{
            border-bottom: 1px solid  $fourthcolor !important;
            color: $textcolor;
        }
        &:focus{
            border: none !important;
        }
    }
   .dropdown-menu{
        @extend  %gradiantColor;
        color: $textcolor;
        overflow-y: scroll;
        height: 250px;
        .form-check-input:checked {
            background-color: $fourthcolor;
            
        }
   }
}
